[submodule "xilinx/external/prjxray-db"]
	path = xilinx/external/prjxray-db
	url = git@github.com:freshmakerzhao/prjxray-db.git
	branch = dev
[submodule "xilinx/external/nextpnr-xilinx-meta"]
	path = xilinx/external/nextpnr-xilinx-meta
	url = git@github.com:freshmakerzhao/nextpnr-xilinx-meta.git
	branch = dev
[submodule "3rdparty/compresstool"]
	path = 3rdparty/compresstool
	url = git@github.com:freshmakerzhao/compress_tool.git
	branch = dev